---
import Layout from "../layouts/Layout.astro";
import SideBarCard from "../components/SidebarCard.astro";
import SlidesContainer from "../components/react/SlidesContainer";
---

<Layout>
  <!-- Contenedor principal con breakpoint ajustado para iPad -->
  <div
    class="flex h-screen w-screen p-4 gap-4
              flex-col lg:flex-row"
  >
    <!-- Formulario oculto para que Netlify lo registre -->
    <form name="contact" netlify netlify-honeypot="bot-field" hidden>
      <input type="text" name="nombre" />
      <input type="email" name="correo" />
      <input type="tel" name="telefono" />
      <input type="text" name="asunto" />
      <textarea name="mensaje"></textarea>
    </form>

    <!-- SideBar - Oculto hasta lg (1024px) -->
    <SideBarCard />

    <!-- Slides Container - Toma todo el ancho disponible -->
    <SlidesContainer client:load />
  </div>
</Layout>
