---
import Layout from "../layouts/Layout.astro";
import SideBarCard from "../components/SidebarCard.astro";
import SlidesContainer from "../components/react/SlidesContainer";
---

<Layout>
  <div class="flex h-screen w-screen p-4 gap-4">
    <SideBarCard />
    <SlidesContainer client:load />
  </div>
</Layout>
