---
import "../src/styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Sergio Enrique - Frontend Developer</title>
    <meta
      name="description"
      content="Portafolio de Sergio Enrique Rivera Vidal - Desarrollador Frontend especializado en React, JavaScript y tecnologías web modernas."
    />
  </head>
  <body class="bg-stone-900 overflow-hidden">
    <main class="h-screen w-screen relative">
      <slot />
    </main>
  </body>
</html>
